@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,100;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: var(--fontfamily); }

:root {
  --blackcolor: #201F24;
  --orangecolor: #FC6011;
  --whitecolor: #F7F9F8;
  --bgcolor: #E8EAE6;
  --fontfamily: poppins,sans-serif; }

body {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  background-color: #eef2f3; }
  body .header .navbar {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: var(--blackcolor); }
    @media (max-width: 767px) {
      body .header .navbar {
        flex-direction: column; } }
    body .header .navbar__logo {
      width: 40%; }
      @media (max-width: 767px) {
        body .header .navbar__logo {
          margin: auto; } }
    body .header .navbar__down {
      visibility: hidden; }
      @media (max-width: 767px) {
        body .header .navbar__down {
          visibility: visible; } }
    body .header .navbar__ul {
      list-style-type: none;
      display: flex;
      align-self: center;
      justify-content: space-around;
      width: 60%; }
      @media (max-width: 767px) {
        body .header .navbar__ul {
          flex-direction: column;
          width: 80%;
          margin: auto;
          justify-content: flex-start;
          align-items: center;
          display: none; } }
      body .header .navbar__ul a {
        text-decoration: none;
        color: var(--whitecolor);
        font-size: 1rem;
        font-style: italic;
        font-weight: 700; }
  body .header .home {
    height: 100vh;
    background-image: url(/sprint2/BRIEF_projet/includes/images/header-home.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    position: relative; }
    body .header .home__content {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 767px) {
        body .header .home__content {
          top: 50%;
          font-size: 1.5rem;
          width: 90%;
          margin: auto; } }
      body .header .home__content .home__title {
        color: var(--orangecolor);
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        font-style: italic;
        margin-bottom: 1rem; }
      body .header .home__content .home__text {
        color: var(--whitecolor);
        text-align: center;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 700; }
  body .main {
    background-color: var(--bgcolor);
    width: 80%;
    margin: auto; }
    body .main__heading {
      text-align: center; }
    body .main .menu {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
      @media (max-width: 900px) {
        body .main .menu {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 22rem); } }
      @media (max-width: 767px) {
        body .main .menu {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(6, 22rem); } }

.footer {
  width: 80%;
  margin: auto; }
  .footer .contact {
    width: 100%;
    display: flex; }
    @media (max-width: 767px) {
      .footer .contact {
        flex-direction: column; } }
    .footer .contact__info {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #E8EAE6;
      padding: 2rem; }
      @media (max-width: 767px) {
        .footer .contact__info {
          width: 100%; } }
      .footer .contact__info .contact__logo {
        width: 30%;
        align-self: center; }
      .footer .contact__info .contact__local {
        display: flex;
        align-items: baseline;
        margin-top: 2rem; }
        .footer .contact__info .contact__local .contact__desc {
          margin-left: 2rem;
          color: var(--orangecolor);
          font-style: italic;
          font-size: 1.2rem; }
      .footer .contact__info .contact__phone {
        display: flex;
        align-items: baseline;
        margin-top: 2rem; }
        .footer .contact__info .contact__phone .contact__num {
          margin-left: 1.7rem;
          color: var(--orangecolor);
          font-style: italic;
          font-size: 1.2rem; }
      .footer .contact__info .contact__mail {
        display: flex;
        align-items: baseline;
        margin-top: 2rem; }
        .footer .contact__info .contact__mail .contact__gmail {
          margin-left: 1.7rem;
          color: var(--orangecolor);
          font-style: italic;
          font-size: 1.2rem; }
    .footer .contact__socmedia {
      width: 50%;
      background-color: #E8EAE6;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (max-width: 767px) {
        .footer .contact__socmedia {
          width: 100%; } }
      .footer .contact__socmedia .contact__heading {
        font-size: 2rem;
        font-weight: 400;
        font-style: italic; }
      .footer .contact__socmedia .contact__icons {
        padding: 1rem; }
        .footer .contact__socmedia .contact__icons a {
          text-decoration: none;
          color: #000;
          padding: 1rem; }

.copyright {
  background-color: var(--blackcolor);
  height: 4rem; }
  @media (max-width: 767px) {
    .copyright {
      height: 2rem; } }
  .copyright__text {
    color: var(--whitecolor);
    text-align: center;
    padding: .5rem;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400; }
    @media (max-width: 767px) {
      .copyright__text {
        font-size: 1rem; } }

.navbar__down--active {
  display: block; }

body .login {
  background-image: url(/sprint2/BRIEF_projet/images/header-home.jpg);
  background-size: 100% 100%;
  background-position: top;
  height: 100vh;
  width: 100vw; }
  body .login .title {
    text-align: center;
    padding: 50px 0 20px; }
    body .login .title__heading {
      color: var(--whitecolor);
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-size: 36px;
      font-style: oblique; }
  body .login .container__login {
    display: flex;
    width: 50%;
    margin: auto;
    height: 400px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5); }
    body .login .container__login .container__left {
      width: 50%;
      height: 400px;
      background: url(/sprint2/BRIEF_projet/images/header-home.jpg);
      background-size: 100% 100%;
      background-position: top;
      box-sizing: border-box; }
    body .login .container__login .container__right {
      width: 50%;
      height: 400px;
      box-sizing: border-box; }
      body .login .container__login .container__right .form_box {
        width: 100%;
        padding: 100px 50px;
        box-sizing: border-box;
        height: 400px;
        background-color: #fff; }
        body .login .container__login .container__right .form_box p {
          margin: 0;
          padding: 0;
          font-weight: bold;
          color: #a6af13; }
        body .login .container__login .container__right .form_box input {
          width: 100%;
          margin-bottom: 20px; }
        body .login .container__login .container__right .form_box input[type="text"], body .login .container__login .container__right .form_box input[type="password"] {
          border: none;
          border-bottom: 2px solid #a6af13;
          outline: none;
          height: 40px; }
        body .login .container__login .container__right .form_box input[type="text"]:focus,
        body .login .container__login .container__right .form_box input[type="password"]:focus {
          border-bottom: 2px solid #262626; }
        body .login .container__login .container__right .form_box input[type="submit"] {
          border: none;
          outline: none;
          height: 40px;
          color: #fff;
          background: #262626;
          cursor: pointer; }
        body .login .container__login .container__right .form_box input[type="submit"]:hover {
          background: #a6af13; }
        body .login .container__login .container__right .form_box a {
          color: #262626;
          font-size: 12px;
          font-weight: bold; }

.container {
  width: 90%;
  height: 5rem;
  margin: auto;
  display: flex;
  border: 1px solid grey; }
  .container .dashboard__logo {
    width: 40%; }
  .container .dashboard__ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .container .dashboard__ul li {
      list-style-type: none; }
      .container .dashboard__ul li a {
        text-decoration: none;
        color: var(--blackcolor); }
  .container .dashboard__profile .dashboard__img {
    width: 3rem;
    height: 3rem; }

.admin__main {
  width: 60%;
  height: 60vh;
  margin: 5% auto;
  border: 1px solid grey; }
  .admin__main .dashboard__heading {
    color: orangered;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin: 3rem auto; }
  .admin__main .admin__btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem; }
    .admin__main .admin__btn .admin__btnstyle {
      background-color: var(--orangecolor);
      height: 4rem;
      color: var(--whitecolor); }

.menu__card {
  position: relative;
  text-align: center;
  color: aliceblue; }
  .menu__card .menu__img {
    width: 100%;
    height: 100%; }
  .menu__card--btn {
    position: absolute;
    top: 50%;
    left: 50%; }
    .menu__card--btn .submit {
      background-color: var(--orangecolor);
      color: var(--whitecolor);
      border: none;
      border-radius: 25px;
      width: 6rem;
      height: 1.5rem;
      display: none;
      position: absolute;
      bottom: 10%;
      left: 35%;
      cursor: pointer; }
      .menu__card--btn .submit:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(2px);
        position: absolute; }
    .menu__card--btn .menu__text {
      color: var(--whitecolor);
      text-align: center;
      font-size: 1.2rem;
      position: absolute;
      bottom: 2%;
      left: 3%;
      line-height: 2rem; }
  .menu__card:hover .menu__text {
    display: block; }
  .menu__card:hover .submit {
    display: block; }
