.menu {
    &__card {
        position: relative;
        text-align: center;
        color: aliceblue;
        .menu__img{
            // position:absolute;
            width: 100%;
            height: 100%;

        }

        &--btn {
            position: absolute;
            top: 50%;
            left: 50%;
            .submit {
                background-color: var(--orangecolor);
                color: var(--whitecolor);
                border: none;
                border-radius: 25px;
                width: 6rem;
                height: 1.5rem;
                display: none;
                position: absolute;
                bottom: 10%;
                left: 35%;
                cursor: pointer;
                &:active{
                    background-color: #3e8e41;
                    box-shadow: 0 5px #666;
                    transform: translateY(2px);
                    position: absolute;
                }
            }
            .menu__text{
                color: var(--whitecolor);
                text-align: center;
                font-size: 1.2rem;
                position: absolute;
                bottom: 2%;
                left: 3%;
                line-height:2rem ;
                // display: none;
            }

        }

        &:hover {
            .menu__text{
                display: block;
            }
            .submit {
                display: block;
                
            }

        }
    }

    // &__card2 {
    //     position: relative;

    //     &--btn {
    //         .submit {
    //             background-color: var(--orangecolor);
    //             color: var(--whitecolor);
    //             border: none;
    //             border-radius: 25px;
    //             width: 6rem;
    //             height: 1.5rem;
    //             display: none;
    //             position: absolute;
    //             bottom: 10%;
    //             left: 40%;
    //         }

    //     }

    //     &:hover &--btn {
    //         .submit {
    //             display: block;
    //         }
    //     }
    // }
    // &__card3 {
    //     position: relative;

    //     &--btn {
    //         .submit {
    //             background-color: var(--orangecolor);
    //             color: var(--whitecolor);
    //             border: none;
    //             border-radius: 25px;
    //             width: 6rem;
    //             height: 1.5rem;
    //             display: none;
    //             position: absolute;
    //             bottom: 10%;
    //             left: 40%;
    //         }

    //     }
    //     &:hover &--btn {
    //         .submit {
    //             display: block;
    //         }

    //     }
    // }
    // &__card4 {
    //     position: relative;

    //     &--btn {
    //         .submit {
    //             background-color: var(--orangecolor);
    //             color: var(--whitecolor);
    //             border: none;
    //             border-radius: 25px;
    //             width: 6rem;
    //             height: 1.5rem;
    //             display: none;
    //             position: absolute;
    //             bottom: 10%;
    //             left: 40%;
    //         }

    //     }

    //     &:hover &--btn {
    //         .submit {
    //             display: block;
    //         }

    //     }
    // }
    // &__card5 {
    //     position: relative;

    //     &--btn {
    //         .submit {
    //             background-color: var(--orangecolor);
    //             color: var(--whitecolor);
    //             border: none;
    //             border-radius: 25px;
    //             width: 6rem;
    //             height: 1.5rem;
    //             display: none;
    //             position: absolute;
    //             bottom: 10%;
    //             left: 40%;
    //         }

    //     }

    //     &:hover &--btn {
    //         .submit {
    //             display: block;
    //         }

    //     }
    // }
    // &__card6 {
    //     position: relative;

    //     &--btn {
    //         .submit {
    //             background-color: var(--orangecolor);
    //             color: var(--whitecolor);
    //             border: none;
    //             border-radius: 25px;
    //             width: 6rem;
    //             height: 1.5rem;
    //             display: none;
    //             position: absolute;
    //             bottom: 10%;
    //             left: 40%;
    //         }

    //     }

    //     &:hover &--btn {
    //         .submit {
    //             display: block;
    //         }

    //     }
    // }




}