body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background-color: black;
    width: 100vw;
    box-sizing: border-box;

}

header .logo{
    color: white;
    height: 50px;
    line-height: 50px;
    float: left;
    font-weight: bold;

}

header nav{
    float: right;
}

header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li{
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    /* font-size: 24px; */
    height: 50px;
    line-height: 50px;
    color: white;
    padding: 0 20px;
    display: block;
}
header nav ul li a:hover,
header nav ul li a.active
{
    background-color: orangered;
}

header .toggle{
    color: white;
    float: right;
    line-height: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width : 800px){
    header{
        padding: 0 20px;
    }
    header .toggle{
        display: block;
    }
    header nav{
        /* display: none; */
        position: absolute;
        width: 100%;
        height: calc(100vh-50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px solid rgba(0, 0, 0, .3);
    }
}