@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,100;1,400;1,500&display=swap');

:root{
    --blackcolor : #201F24;
    --orangecolor : #FC6011;
    --whitecolor : #F7F9F8;
    --bgcolor : #E8EAE6;
    --fontfamily : poppins,sans-serif;
    --container:80%;
}

$mobilesize : 767px;
